{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">    
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">Frutyfi</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:inicio' %}"><i class="bx bx-home-alt"></i></a>
                                </li>
                                
                                <li class="breadcrumb-item active">Reportes
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- default swiper start -->
            <section id="component-swiper-default">
                <div class="card">
                    <div class="card-header text-center">
                        Seleccionar el reporte a generar
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="swiper-default swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="row d-flex justify-content-center align-items-center p-4 ">
                                    {% if request.user.rol.descripcion != 'PROVEEDOR' %}
                                        {% if request.user.tipo.descripcion == 'OPERADOR' or request.user.rol.descripcion == 'ADMINISTRADOR'  %}
                                        <div class="col-md-6 col-12 text-center">
                                            <button class="btn btn-primary btn-lg bx bx-file reporte_proveedores"><h3 class="text-white">REPORTE PROVEEDORES</h3></button>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if request.user.tipo.descripcion == 'OPERADOR' or request.user.rol.descripcion == 'ADMINISTRADOR'  %}
                                        <div class="col-md-6 col-12 text-center">
                                            <button class="btn btn-success btn-lg bx bx-file reporte_stock"><h3 class="text-white">REPORTE DE STOCK</h3></button>
                                        </div>
                                    {% endif %}
                                        <div class="col-md-6 col-12 text-center p-2">
                                            <button class="btn btn-success btn-lg bx bx-file reporte_pedidos"><h3 class="text-white">REPORTE DE PEDIDOS</h3></button>
                                        </div>
                                        <div class="col-md-6 col-12 text-center">
                                        </div>

                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- modal de edicion de datos -->
<div class="modal fade" id="modal_reporte_proveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalCenterTitle" >Generar reporte de Proveedores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x "></i>
                </button>
            </div>
            <div class="modal-body ">
                <div class="modal-body">
                    <br>
                   <form id="form_proveedor">
                    
                    <div class="row">
                        <div class="col-12 p-1">
                            <input placeholder="Fecha donde inicia el reporte" type="date" id="query" name="query"  required class="form-control " />

                            
                        </div>
                        <div class="col-12 p-1">
                            <input placeholder="Fecha donde finaliza el reporte" type="date"  id="query2" name="query2"  required  class="form-control"/>
                        </div>
                    </div>
                  
                    
                 </form>
                 <div class="row justify-content-center">
                    <a onclick="generarReporteExcel()" id="btn_reporte">
                        <label for="getFile" class="btn btn-primary btn-block glow my-2 add-file-btn text-capitalize"><i class="bx bx-file"></i>Exportar</label>
                    </a>
                </div>




           </div>
            </div>
            
        </div>
    </div>
</div>


<!-- modal de edicion de datos -->
<div class="modal fade" id="modal_reporte_stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalCenterTitle" >Generar reporte de Stock de Insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x "></i>
                </button>
            </div>
            <div class="modal-body ">
                <div class="modal-body">
                    <br>
                   <form id="form_proveedor">
                    
                    <div class="row">
                        <div class="col-12 p-1">
                            <input placeholder="Fecha donde inicia el reporte" type="date" id="fecha_inicial" name="query"  required class="form-control " />

                            
                        </div>
                        <div class="col-12 p-1">
                            <input placeholder="Fecha donde finaliza el reporte" type="date"  id="fecha_final" name="query2"  required  class="form-control"/>
                        </div>
                    </div>
                  
                    
                 </form>
                 <div class="row justify-content-center">
                    <a onclick="generarReporteStockExcel()" id="btn_reporte">
                        <label for="getFile" class="btn btn-primary btn-block glow my-2 add-file-btn text-capitalize"><i class="bx bx-file"></i>Exportar</label>
                    </a>
                </div>




           </div>
            </div>
            
        </div>
    </div>
</div>


<!-- END: Content-->
<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>


<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>

<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="{% static  'base/app-assets/js/scripts/pages/app-email.js' %}"></script>
<!-- END: Page JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'base/app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="{% static 'base/app-assets/js/scripts/extensions/swiper.js' %}"></script>
<!-- END: Page JS-->


<script src="{% static 'base/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

<script src="{% static 'base/app-assets/js/scripts/extensions/toastr.js' %}"></script>

<script src="{% static 'base/app-assets/jss/scripts/modal/components-modal.js' %}"></script>


{% endblock %}
{% block js_page %}
<script>
    $(document).ready(function(){
        $('.loader').hide();
    })
    $('.reporte_proveedores').on('click', function(){
        $('#modal_reporte_proveedores').modal('show');
    })

    $('.reporte_stock').on('click', function(){
        $('#modal_reporte_stock').modal('show');
    })


    function generarReporteExcel(){
        // estadosBusqueda = []
        f_inicio = $('#query').val();
        f_fin = $('#query2').val();
        body = {
            'query': f_inicio,
            'query2': f_fin
        }
       
        var url = "{% url 'prv:proveedores_reporte' %}";

        var token = '{{ csrf_token }}';

        
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            xhrFields: {
                responseType: 'blob'
            },
            type: "POST",
            url: url,
            data: body,
            
            success: function(res, textStatus, jqXHR) {
                if(res.length != undefined){
                    toastr.error('No tenemos informacion para las fehas indicadas', 'Error');
                    return false;
                }
                $('#modal_reporte_proveedores').modal('hide');
                let nombreArchivo = "";
                let disposition = jqXHR.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    let matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) { 
                        nombreArchivo = matches[1].replace(/['"]/g, '');
                    }
                }
                var a = document.createElement('a');
                
                var url = window.URL.createObjectURL(res);
                a.href = url;
                a.download = nombreArchivo;
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            error: function(a, b, c) {
                console.log(a);
            }
        });
    }

    function generarReporteStockExcel(){
        // estadosBusqueda = []
        f_inicio = $('#fecha_inicial').val();
        f_fin = $('#fecha_final').val();
        body = {
            'query': f_inicio,
            'query2': f_fin
        }
       
        var url = "{% url 'prd:stock_reporte' %}";

        var token = '{{ csrf_token }}';

        
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            xhrFields: {
                responseType: 'blob'
            },
            type: "POST",
            url: url,
            data: body,
            
            success: function(res, textStatus, jqXHR) {
                if(res.length != undefined){
                    toastr.error('No tenemos informacion para las fehas indicadas', 'Error');
                    return false;
                }
                
                $('#modal_reporte_stock').modal('hide');
                let nombreArchivo = "";
                let disposition = jqXHR.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    let matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) { 
                        nombreArchivo = matches[1].replace(/['"]/g, '');
                    }
                }
                var a = document.createElement('a');
                
                var url = window.URL.createObjectURL(res);
                console.log(url)
                a.href = url;
                a.download = nombreArchivo;
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            // error: function(jqXHR, textStatus, errorThrow){
            //     console.log('**********')
            //     alert("error: " + errorThrow)
            // }
        });
    }


</script>
{% endblock %}
