{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float left pr-1 mb-0">
                            Roles y Permisos
                        </h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:inicio' %}"><i class="bx bx-home-alt"></i></a>
                                </li>   
                                <li class="breadcrumb-item active">Usuarios
                                </li>
                                <li class="breadcrumb-item active">Roles
                                </li>
                                <li class="breadcrumb-item active">Crear/Editar
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{% if rol %} Editar {% else %} Nuevo {% endif %} Rol</h4>
                                <a href="" class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form action="" method="POST" id="frmRol" class="form" enctype="moultipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-label-group">
                                                        {{form.descripcion}}
                                                        <label for="id_rol-form">Descripcion del Rol</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- permisos -->
                                    <h4 class="card-title">Permisos</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <ul id="treeview">
                                                <li>
                                                    <i class="fa fa-minus"></i>
                                                    <label for="">Permisos</label>
                                                    <ul>
                                                        {% for modulo in modulos %}
                                                            <li>
                                                                <i class="fa fa-miuns"></i>
                                                                <label for="0">
                                                                    <input type="checkbox" name="" class="checkbox-input" id="0">{{modulo.1}}
                                                                </label>
                                                                <ul>
                                                                    {% for contenido in contenidos %}
                                                                        {% if contenido.1 == modulo.0 %}
                                                                            
                                                                            {% if contenido.0  %}
                                                                            <li>
                                                                                <i class="fa fa-minus"></i>
                                                                                <label>
                                                                                    <input class="hummingbirdNoParent" id="xnode-0-1-1" data-id="custom-0-1-1" type="checkbox" />
                                                                                    {{contenido.0}}
                                                                                </label>
                                                                                <ul>
                                                                                    {% for permiso in permisos_admin %}
                                                                                        {% if permiso.permission.content_type.model == contenido.0 %}
                                                                                            <li>
                                                                                                <label >
                                                                                                    <input class="checkbox-input checkpermiso" id="id_check{{permiso.permission_id}}" value="{{permiso.permission_id}}" type="checkbox" style="background: #5A8DEE;">
                                                                                                    {{permiso.permission.name}}
                                                                                                </label>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>

                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="guardarRol()" class="btn btn-primary mr-1 mb-1">Guardar</button>
                                        <a href="{% url 'usr:roles_list' %}" class="btn btn-light-secondary mr-1 mb-1"> Cancelar</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="loader">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>


{% endblock %}

{% block js_page %}

{% load static  %}
<!-- BEGIN: Vendor JS-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="{% static 'base/app-assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
<script src="{% static 'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
<script src="{% static 'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'base/app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
<script src="{% static 'base/app-assets/vendors/js/extensions/dragula.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'base/app-assets/js/scripts/configs/vertical-menu-dark.js' %}"></script>
<script src="{% static 'base/app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'base/app-assets/js/core/app.js' %}"></script>
<script src="{% static 'base/app-assets/js/scripts/components.js' %}"></script>
<script src="{% static 'base/app-assets/js/scripts/footer.js' %}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{% static 'base/app-assets/js/scripts/pages/dashboard-analytics.js' %}"></script>
<!-- END: Page JS-->

<!-- extras -->

<script src="{% static 'base/app-assets/js/scripts/extensions/toastr.js' %}"></script>
<script src="{% static 'base/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

<script>
    
    $(document).ready(function(){
        $('.loader').hide();
        
        $('#treeview').hummingbird();

        permisos_asignados = '{{ permisos_asignados }}';
        if(permisos_asignados !== 'None'){
            permisos_asignados = {{permisos_asignados|safe}};
            permisos_asignados.forEach(permiso => {
                console.log(permiso)
                $('#id_check'+permiso).prop('checked', true);
            });
        }
        
        $('ul').css({'list-style': 'none'});
        $('input[type=checkbox]').css({'backgorund': '#5A8DEE'})
    
    })

    function guardarRol(){
        var permisos = new Array();
        $('.checkpermiso').each(function(){
            var permiso = $(this);
            check = permiso.prop('checked');
            if(check){
                permisos.push(permiso.val())
            }
        });

        if(permisos.length === 0){
            toastr.error('Seleecione al menos un permiso');
            return false;
        }

        if($('#id_descripcion').val() === ''){
            toastr.error('Ingrese una descripcion');
            return false;
        }else{
            form = document.getElementById('frmRol');
            let data = new FormData(form);
            data.append('permisos[]', JSON.stringify(permisos));

            let token = '{{ csrf_token }}';
            let rol_id = '{{ rol.id_rol }}';

            let url = "{% url 'usr:roles_crear' 0 %}";

            if(rol_id !== '' ){
                url = url.replace(/0/, rol_id);
            }
            
            // for(var[key, value] of data.entries()){
            //     console.log(key, value)
            // }

            $.ajax({
                url: url,
                type: "POST",
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function(){
                    $('.loader').show();
                },
                complete: function(){
                    $('.loader').hide();
                },
                success: function(response){
                    // console.log(response)
                    window.location.replace('{% url "usr:roles_list" %}')
                }

            })
        }
    }
</script>
<script src="{% static 'base/js/hummingbird-treeview.js' %}"></script>

{% endblock %}
