{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/vendors/css/editors/quill/quill.snow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/pages/app-file-manager.css' %}">

<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/themes/semi-dark-layout.css' %}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/pages/app-email.css' %}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/assets/css/style.css' %}">
<!-- END: Custom CSS-->

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/vendors/css/extensions/swiper.min.css' %}">
<!-- END: Vendor CSS-->
<!-- BEGIN: Page CSS--> 
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/swiper.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.min.css' %}">  

<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/vendors/css/extensions/toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.min.css' %}">



<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">    
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">Frutyfi</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:inicio' %}"><i class="bx bx-home-alt"></i></a>
                                </li>
                                
                                <li class="breadcrumb-item active">Stock
                                </li>
                                <li class="breadcrumb-item active">Lista
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content-body">
                    <!-- Table with outer spacing -->
                    <div class="row" id="id_div_solicitud">
                        <div class="col-md-6 col-12 "></div>
                        <div class="col-md-6 col-12 text-right p-2">
                            <button onclick="generarSolicitud()" class="btn btn-primary  "> Solicitar a Proveedor</button>
                        </div>

                        
                    </div>
                    <div class="row m-2 bg-secondary ">
                        <div class="col-12 text-center text-uppercase"> <h3 class="text-white">Inventario de Insumos</h3></div>
                    </div>
                    <br>
                    <div class="table-responsive p-1">
                        <table class="table  table-hover table-border" id="id_tabla_stock">
                            <thead>
                                <tr>
                                    <th>DESCRIPCION</th>
                                    <th>CATEGORIA</th>
                                    <th>UNIDAD/MEDIDA</th>
                                    <th>CANT MINIMA</th>
                                    <th>EXISTENCIA</th>
                                    <th>ESTADO</th>
                                    {% if request.user.rol.descripcion != 'BODEGUERO' %}
                                    <th>ABASTECER</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for producto in inventario %}
                                    <tr>
                                        <td class="text-bold-500">{{producto.descripcion}}</td>
                                        <td>{{producto.categoria.descripcion}}</td>
                                        <td>{{producto.unidad_medida.descripcion}}</td>
                                        <td>{{producto.cantidad_minima}}</td>
                                        <td>{{producto.cantidad_existente}}</td>
                                        <td>
                                            {% if producto.estado.descripcion == 'DISPONIBLE' %}
                                                <span class="badge badge-success text-white">{{producto.estado}}</span>
                                            {% elif producto.estado.descripcion == 'NO DISPONIBLE' %}
                                                <span class="badge badge-danger text-white">{{producto.estado}}</span>
                                            {% else %}
                                                <span class="badge badge-warning text-white">{{producto.estado}}</span>
                                            {% endif %}
                                        </td>
                                        {% if request.user.rol.descripcion == 'ADMINISTRADOR' %}
                                        <td>
                                            <div class="row d-flex align-items-center justify-content-center">
                                                <input value="{{producto.id_producto}}" {% if producto.estado.descripcion == 'NO DISPONIBLE' or producto.estado.descripcion == 'MENOR A EXISTENCIA MINIMA' %}{% else %}{% if request.user.rol.descripcion != 'ADMINISTRADOR' %} disabled="disabled"{% endif %}{% endif %}  class=" checkbox-input item-producto " type="checkbox" name="" id="checkbox1" data-descripcion="{{producto.descripcion}}" data-id="{{producto.id_producto}}">
                                            </div>
                                        </td>
                                        
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="loader">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- modal de edicion de datos -->
<div class="modal fade" id="modalEditarRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalCenterTitle" > Editar Tipo de Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x "></i>
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-md-12 col-12">
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="id_nuevo_valor" />
                        <label for="id_nuevo_valor" class="text-white">Descripcion</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">
                        Cancelar
                    </span>
                </button>
                <button type="button" class="btn btn-light-primary validar_descripcion" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">
                        Aceptar
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>


<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>

<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="{% static  'base/app-assets/js/scripts/pages/app-email.js' %}"></script>
<!-- END: Page JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'base/app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="{% static 'base/app-assets/js/scripts/extensions/swiper.js' %}"></script>
<!-- END: Page JS-->


<script src="{% static 'base/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

<script src="{% static 'base/app-assets/js/scripts/extensions/toastr.js' %}"></script>

<script src="{% static 'base/app-assets/jss/scripts/modal/components-modal.js' %}"></script>



{% endblock %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('.loader').hide();
        $('#id_tabla_stock').DataTable(
            {
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            }
        );

        $('#id_div_solicitud').hide();
        $('.item-producto').each(function(){
            var producto = $(this);
            check = producto.prop('checked');
            if(check){
                $('#id_div_solicitud').show();
                itemsSeleccionados.push(parseInt(producto.val()));
            }
        });
    })

    // $(document).on('click', '.editar_descripcion', function() {
    //     tipo_id = $(this).attr('data-id');
    //     tipo_descripcion = $(this).attr('data-descripcion')
    //     $('#id_nuevo_valor').val(tipo_descripcion);
    //     $('#modalEditarRegistro').modal('show');
    // })

    $('input[type=checkbox]').on('click', function() {
        
        $('#id_div_solicitud').hide();

        $('.item-producto').each(function(){
            var producto = $(this);
            check = producto.prop('checked');
            
            if(check){
                 $('#id_div_solicitud').show();
            }
        });

    })

    function generarSolicitud(){
        itemsSeleccionados = []
        $('.item-producto').each(function(){
            var producto = $(this);
            check = producto.prop('checked');
            
            if(check){
                itemsSeleccionados.push(parseInt(producto.val()));
            }
        });
        
        var body = {
            "itemsSeleccionados[]": JSON.stringify(itemsSeleccionados)
        }
        $.ajax({
            url : '{% url "trn:crear_pedido" %}',
            type: "GET",
            data: body,
            beforeSend: function(){
                $('.loader').show();
            },
            complete: function(){
                $('.loader').hide();
            },
            success: function(response){
                id_solicitud = response.id_solicitud
                ruta = '{% url "trn:detalle_solicitud" 0 %}'
                ruta = ruta.replace(/0/, id_solicitud);
                location.replace(ruta)
            }
        })
    }

</script>

{% endblock js_page %}