{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/vendors/css/editors/quill/quill.snow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/pages/app-file-manager.css' %}">

<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/themes/dark-layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/themes/semi-dark-layout.css' %}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'base/app-assets/css/pages/app-email.css' %}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="{% static  'base/assets/css/style.css' %}">
<!-- END: Custom CSS-->

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/vendors/css/extensions/swiper.min.css' %}">
<!-- END: Vendor CSS-->
<!-- BEGIN: Page CSS--> 
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/swiper.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.min.css' %}">  

<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/vendors/css/extensions/toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/app-assets/css/plugins/extensions/toastr.min.css' %}">



<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">    
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">Frutyfi</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:inicio' %}"><i class="bx bx-home-alt"></i></a>
                                </li>
                                
                                <li class="breadcrumb-item active">Empleados
                                </li>
                                <li class="breadcrumb-item active">Tipos
                                </li>
                                <li class="breadcrumb-item active">Lista
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content-body">
                    <!-- Table with outer spacing -->
                    <div class="table-responsive">
                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DESCRIPCION</th>
                                    <th>ESTADO</th>
                                    <th>Fecha Creacion</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for tipo in tipos %}
                                    <tr>
                                        <td>{{tipo.id_tipo}}</td>
                                        <td class="text-bold-500">{{tipo.descripcion}}</td>
                                        <td>{{tipo.estado}}</td>
                                        <td>{{tipo.fecha_creacion|date:"Y/m/d H:i:s"}}</td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="loader">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- modal de edicion de datos -->
<div class="modal fade" id="modalEditarRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalCenterTitle" > Ediatr Tipo de Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x "></i>
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-md-12 col-12">
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="id_nuevo_valor" />
                        <label for="id_nuevo_valor" class="text-white">Descripcion</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">
                        Cancelar
                    </span>
                </button>
                <button type="button" class="btn btn-light-primary validar_descripcion" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">
                        Aceptar
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>


<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>

<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="{% static  'base/app-assets/js/scripts/pages/app-email.js' %}"></script>
<!-- END: Page JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'base/app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="{% static 'base/app-assets/js/scripts/extensions/swiper.js' %}"></script>
<!-- END: Page JS-->


<script src="{% static 'base/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

<script src="{% static 'base/app-assets/js/scripts/extensions/toastr.js' %}"></script>

<script src="{% static 'base/app-assets/jss/scripts/modal/components-modal.js' %}"></script>



{% endblock %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('.loader').hide();
    })

    $(document).on('click', '.editar_descripcion', function() {
        tipo_id = $(this).attr('data-id');
        tipo_descripcion = $(this).attr('data-descripcion')
        $('#id_nuevo_valor').val(tipo_descripcion);
        $('#modalEditarRegistro').modal('show');
    })
</script>

{% endblock js_page %}