{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">    
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">Finca Solicitud de Insumos </h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'bases:inicio' %}"><i class="bx bx-home-alt"></i></a>
                                </li>
                                
                                <li class="breadcrumb-item active">Solicitud Produccion
                                </li>
                                <li class="breadcrumb-item active">Detalle
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- invoice view page -->
            <div class="col-xl-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body pb-0 mx-25">
                            <!-- header section -->
                            <div class="row">
                                <div class="col-xl-4 col-md-12">
                                    <span class="invoice-number mr-50"> Produccion</span>
                                    <span>{{orden.secuencia}}</span>
                                </div>
                                <div class="col-xl-8 col-md-12">
                                    <div class="d-flex align-items-center justify-content-xl-end flex-wrap">
                                        <div class="mr-3">
                                            <small class="text-muted">Fecha Creacion:</small>
                                            <span>{{orden.fecha_creacion|date:'D-n-Y'}}</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- logo and title -->
                            <div class="row my-3">
                                <div class="col-6">
                                    <h4 class="text-primary">ORDEN</h4>
                                    <span>Solicitud de Insumos</span>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <img src="{% static 'base/app-assets/images/pages/pixinvent-logo.png' %}" alt="logo" height="46" width="164">
                                </div>
                            </div>
                            <hr>
                            <!-- invoice address and contact -->
                            <div class="row invoice-info">
                                <div class="col-6 mt-1">
                                    <h6 class="invoice-from">Informacion </h6>
                                    
                                    <form id="frmSolicitud" enctype="multipart/form-data"> 
                                        {% csrf_token %}
                                        {{form.as_p}}
                                    </form>
                                    <div class="">
                                        <label for="">Personal recibira los insumos</label>
                                        <select name="" class="form-control" id="id_empleados">
                                            <option value="">--- Seleccionar Personal ---</option>
                                            {% for e in empleados %}
                                                <option value="{{e.id_personal}}">{{e.nombres}} {{e.apellidos}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6 mt-1">
                                    
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!-- product details table-->
                        <div class="invoice-product-details table-responsive mx-md-25" id="div_tabla">
                            <table class="table table-borderless mb-0">
                                <thead>
                                    <tr class="border-0">
                                        <th scope="col">Id</th>
                                        <th scope="col">Insumo</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Unidad Medida</th>
                                        <th scope="col">Cantidad</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        {% for insumo in detalles %}
                                        <tr>
                                            <td>{{insumo.producto.id_producto}}</td>
                                            <td>{{insumo.producto.descripcion}}</td>
                                            <td>{{insumo.producto.categoria.descripcion}}</td>
                                            <td>{{insumo.producto.unidad_medida.descripcion}}</td>
                                            <td><input id="input_{{insumo.producto.id_producto}}" data-id="{{insumo.producto.id_producto}}" class="form-control obtener_valor "  type="number" min="0"></td>
                                            <td><a ><i data-descripcion="{{insumo.producto.descripcion}}" data-insumo="{{insumo.producto.id_producto}}" class=" badge-circle badge-circle-danger bx bx-trash font-medium-1 modal_eliminar"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                        </div>

                        <!-- invoice subtotal -->
                        <div class="card-body pt-0 mx-25">
                            <hr>
                            <div class="row">
                                <div class="col-4 col-sm-6 mt-75">
                                    <p></p>
                                </div>
                                <div class="col-8 col-sm-6 d-flex justify-content-end mt-75">
                                    <div class="invoice-subtotal">
                                        <div class="invoice-calc d-flex justify-content-between">
                                            <button class="btn btn-primary guardar_solicitud" id="id_enviar_btn">Enviar Solicitud</button>
                                            <button class="btn btn-danger eliminar_solicitud" id="id_eliminar_btn">Eliminar Solicitud</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
        
        </div>
    </div>
</div>

<div class="modal fade text-left" id="modal_eliminarinsumo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <input type="hidden" class="id_insumo_eliminar">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel12">Confirmacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="modal-body">
                Desea eliminar el registro <span class="nombre_insumo"> </span> de la solicitud.?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">No</span>
                </button>
                <button type="button" class="btn btn-danger ml-1 delete_insumo">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">si</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="loader">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- modal de edicion de datos -->

<!-- END: Content-->
<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>


<!-- BEGIN: Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
<script src="{% static  'base/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static  'base/app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>

<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="{% static  'base/app-assets/js/scripts/pages/app-email.js' %}"></script>
<!-- END: Page JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'base/app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
<script src="{% static 'base/app-assets/js/scripts/extensions/swiper.js' %}"></script>
<!-- END: Page JS-->


<script src="{% static 'base/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>

<script src="{% static 'base/app-assets/js/scripts/extensions/toastr.js' %}"></script>

<script src="{% static 'base/app-assets/jss/scripts/modal/components-modal.js' %}"></script>



{% endblock %}

{% block js_page %}
<script>
    let elementos ;
    let items ;
    var permitir_generar_solicitud = false

    $(document).ready(function() {
        $('.loader').hide();
        $('#id_eliminar_btn').hide()
        
    })

    $('.guardar_solicitud').on('click', function(){
        form = document.getElementById('frmSolicitud');
        data = new FormData(form)

        validarInsumos()
        console.log(items)
        if(items.length >= 1 ){
            data.append('insumos[]', JSON.stringify(items))

            var personal_finca = $('option:selected', '#id_empleados').val();
            if(personal_finca === ''){
                toastr.error('seleccione personal que recibira la entrega del pedido')
                return false
            }

            data.append('personal_id', personal_finca);

            //url guardar datos
            id_orden = '{{orden.id_solicitud}}'
            url = '{% url "trn:detalle_orden_produccion" 0 %}'
            url = url.replace(/0/, id_orden)
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                contentType: false,
                processData:false,
                success: function(response){
                    toastr.success('Orden Registrada', 'Correcto');
                    setTimeout(() => {
                        url_list = '/transacciones/orden-produccion-list/'
                        window.location = url_list;
                    }, 400)
                },
                error: function(response){
                    console.log(response)
                    $.confirm({
                        title: 'Error',
                        content: response.responseJSON.mensaje,
                        theme: 'material',
                        type: 'red',
                        buttons: {
                            confirm: {
                                text: 'Entendido'
                            },
                        }
                    });
                }
            })
        }else{
            $('#id_enviar_btn').hide()
            $('#id_eliminar_btn').show()
            toastr.error('No se tienen insumos en esta solicitud', 'Error');
            return false
        }
        
    })

    function validarInsumos(){
        tabla = $('#div_tabla').find('tbody');
        filas = $(tabla).find('tr')
        items=[]
        $(filas).each(function() {
            elementos = {
                'id_insumo': '',
                'cantidad': ''
            }

            row = ($(this).find('td')[4])
            cantidad = $(row).find('input')
        
            elementos.cantidad =  $(cantidad).val()
            elementos.id_insumo = ($(this).find('td')[0].innerHTML)
            items.push(elementos)
            
        })
        if(items.length >= 1){
            return items
        }

    }

    $('.obtener_valor').on('change', function(){
        var id_insumo = parseInt($(this).attr('data-id'))
        parametros = {
            'id_insumo': id_insumo
        }
        input = $(this).attr('id');
        validarCantidad(parametros, input);
    })

    function validarCantidad(datos, input){
        $.ajax({
            type: 'GET',
            url: '{% url "prd:validar_cantidad_produccion" %}',
            data: datos,
            success: function(response){
                producto = response.data
                var cant_ingresdada = parseFloat($('#'+input).val())
                if(parseFloat(producto.cantidad_existente) < cant_ingresdada){
                    toastr.info(('La cantidad ingresada es menor a la existente, del insumo: '+ producto.descripcion+', cantidad existentne: '+producto.cantidad_existente), {timeOut: 8000})
                    return false
                }

            },
            error: function(response){
                console.log(response)
                $.confirm({
                    title: 'Error',
                    content: response.responseJSON.mensaje,
                    theme: 'material',
                    type: 'red',
                    buttons: {
                        confirm: {
                            text: 'Entendido'
                        },
                    }
                });
            }
        })
    }

    $(document).on('click', '.modal_eliminar', function(){
        var id_insumo = $(this).attr('data-insumo');
        var descripcion = $(this).attr('data-descripcion');
        data = {
            'insumo_id': id_insumo
        }
        $('#modal_eliminarinsumo .nombre_insumo').text(descripcion);
        $('#modal_eliminarinsumo .id_insumo_eliminar').val(id_insumo);

        $('#modal_eliminarinsumo').modal('show');
    })

    $("#modal_eliminarinsumo .delete_insumo").click(function ()
    {
        var insumo_id = $("#modal_eliminarinsumo .id_insumo_eliminar").val();
        var parametros = {
                "id_insumo": insumo_id,
                'id_orden': '{{orden.id_solicitud}}'
            };
        eliminar_insumo(parametros);
        
    })

    function eliminar_insumo(parametros)
    {
        $.ajax({
            url: '{% url "trn:eliminar_insumo_solic_produccion" %}',
            type: 'GET',
            data: parametros,

            success: function(data){
                if(data.data.estado==1){
                    // toastr.success('Color Eliminado', 'Dato Eliminado');
                    $('#modal_eliminarinsumo').modal('hide');
                    location.reload(true)
                }else if(data.data.estado==2){
                    $('#modal_eliminarinsumo').modal('hide');
                    toastr.error("Insumo no puede ser eliminado.",'Error');
                }
                else{
                    toastr.error("Insumo No existe",'Error');
                }
            }

        })

    }

    $('#id_eliminar_btn').on('click', function(){
        $('.loader').show();
        $.ajax({
            url: '{% url "trn:eliminar_solicitud_prod" %}',
            type: 'GET',
            data: {'id_solicitud': '{{orden.id_solicitud}}'},
            success: function(data){
                console.log(data)
                if(data.data.estado==1){
                    // toastr.success('Color Eliminado', 'Dato Eliminado');
                    url_list = '/transacciones/orden-produccion-list/'
                    toastr.success('Se elimino la solicitud', 'Correcto');
                    setTimeout(() => {
                        url_list = '/transacciones/orden-produccion-list/'
                        window.location = url_list;
                    }, 400)

                }else if(data.data.estado==2){
                    $('#modal_eliminarinsumo').modal('hide');
                    toastr.error("Insumo no puede ser eliminado.",'Error');
                }
                else{
                    toastr.error("Insumo No existe",'Error');
                }
            }
        })
    })



</script>


{% endblock js_page %}